[pytest]
env =
    API_KEY=API_Gateway_API_KEY
    API_ENDPOINT=API_Gateway_Prod_URL
    APP_IMG_ROOT_PATH=https://img.cloud.lib.vt.edu/swva/
    Bibliographic_Citation="Researchers wishing to cite this collection should include the following information: - Special Collections, Virginia Polytechnic Institute and State University, Blacksburg, Va."
    Collection_Category=IAWA
    DYNO_Archive_TABLE=archive_test
    DYNO_Collection_TABLE=collection_test
    DYNO_Collectionmap_TABLE=collectionmap_test
    LONG_URL_PATH=https://long-dev.cloud.lib.vt.edu/
    NOID_NAA=53696
    NOID_Scheme=ark:/
    Rights_Holder="VT Libraries"
    Rights_Statement="Permission to publish material from the must be obtained from University Libraries Special Collections, Virginia Tech."
    REGION=us-east-1
    SHORT_URL_PATH=https://short-dev.cloud.lib.vt.edu/

