<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTDLP Ingest</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <body>
        <header>
            <div class="header_bar">
                <div class="header_left">
                    <div class="header_left_top_row">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="App Logo" class="app_logo">
                        <h1>VTDLP Ingest</h1>
                    </div>
                    <div class="header_left_bottom_row">
                        <p><a href="{{url_for('index')}}">Return home</a></p>
                    </div>
                </div>
                
                <div class="header_right">
                    {% if user %}
                        <div class="user_info">
                            <p>Hi {{user['email']}}!</p>
                            <p><a href="{{url_for('logout')}}">Logout</a></p>
                        </div>
                    {% else %}
                        <div class="user_info">
                            <p>Hi!</p>
                            <p>You can click <a href="{{ url_for('login', _scheme='https') }}">here</a> to login</p>
                        </div>
                    {% endif %}
                    </div>
                
            </div>
        </header>

        <main role="main">
        {% block content %}{% endblock %}
        </main>

    </body>
</html>