{% extends "base.html" %}

{% block content %}
    <div id="content" class="tool-description" role="region" aria-label="Ingest Configuration">
        <p>This tool ingests media/metadata into the VTDLP Archive system.</p>
        <ol>
            <li>Ingest Collection metadata file first</li>
            <li>Ingest Archive metadata file after Collection</li>
        </ol>

        <div>
            <form action="/submit" method="post" enctype="multipart/form-data" aria-label="VTDLP Ingest Form">
                <!-- Type Selection -->
                <fieldset class="form-section">
                    <legend>Select ingest type</legend>
                    <span id="ingest_type_help" class="visually-hidden">Choose whether to ingest individual items or entire collections.</span>
                    <div class="ingest_type-radios" role="radiogroup" aria-labelledby="ingest_type_help" aria-required="true">
                        <label for="ingest_type-archive">
                            <input type="radio" id="ingest_type-archive" name="INGEST_TYPE" value="archive" aria-describedby="ingest_type_help" checked> Items/Archives
                        </label>
                        <label for="ingest_type-collection">
                            <input type="radio" id="ingest_type-collection" name="INGEST_TYPE" value="collection" aria-describedby="ingest_type_help"> Collection(s)
                        </label>
                    </div>
                </fieldset>


                <!-- Environment Selection -->
                <fieldset class="form-section">
                    <legend>Select the environment</legend>
                    <div class="section-text">Form fields will be populated based on your selection, but can be changed</div>
                    <span id="env_help" class="visually-hidden">Select the environment to ingest records to</span>
                    <div class="env-radios">
                        {% for env in envs %}
                            <label for="env_{{env.value}}">
                                <input type="radio" id="env_{{env.value}}" name="ENV_SELECTION" value="{{env.value}}" {% if env.selected %} checked {% endif %} aria-describedby="env_help"> {{env.label}} ({{env.name}})
                            </label>
                        {% endfor %}
                        <label for="env_other">
                            <input type="radio" id="env_other" name="ENV_SELECTION" value="other" aria-describedby="env_help"> Other (select below)
                        </label>
                    </div>
                    <div id="db-table-select" class="hidden" aria-hidden="true">
                        <label id="dynamodb_table_suffix_label" for="dynamodb_table_suffix">Select your Amplify backend environment:</label>
                        <select 
                            id="dynamodb_table_suffix" 
                            name="DYNAMODB_TABLE_SUFFIX" 
                            placeholder="Select environment"
                            aria-labelledby="dynamodb_table_suffix_label"
                            aria-required="true"
                            aria-describedby="env_help"></select>
                    </div>
                </fieldset>

                    
                <!-- Collection Identifier -->
                <fieldset class="form-section" id="collection_identifier_section">
                    <legend>Identifiers</legend>
                    <div class="section-text" id="collection_help">Select an existing collection to update by it's identifier, or enter a new identifier to create a new collection</div>
                    
                    <span id="collection_identifier_status" class="section-status incomplete">Incomplete</span>
                    <label id="collection_identifier_label" for="collection_identifier">Collection Identifier:</label>
                    <input list="collection_identifiers" id="collection_identifier" name="COLLECTION_IDENTIFIER" autocomplete="off" placeholder="Type or select collection identifier" required aria-describedby="collection_help">
                    <datalist id="collection_identifiers">
                        <!-- Options will be filled dynamically -->
                    </datalist>
                

                    <div id="sub_collection_options" class="form-section hidden">
                        <div class="section-text" id="sub_collection_help">Is this collection a sub-collection (part of a larger collection)? Add the identifier of the collection's PARENT collection to create the relationship.</div>
                        <label id="parent_collection_identifier_label" for="parent_collection_identifiers">Parent Collection Identifier:</label>
                        <input list="parent_collection_identifiers" id="parent_collection_identifier" name="PARENT_COLLECTION_IDENTIFIER" placeholder="Parent collection identifier (optional)" aria-describedby="sub_collection_help">
                        <datalist id="parent_collection_identifiers">
                            <!-- Options will be filled dynamically -->
                        </datalist>  
                    </div>

                    <div id="collection_parent_match" class="hidden">Collection identifier and Parent Collection identifier cannot match</div>
                </fieldset>


                <!-- Collection Configuration Section -->
                <fieldset class="form-section" id="collection_section">
                    <legend>Collection Configuration</legend>
                    <div class="section-text" id="collection_configuration_help">Set collection options for your ingest</div>
                    <div id="collection_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label for="collection_category">Collection Category:</label>
                        <input type="text" id="collection_category" name="COLLECTION_CATEGORY" placeholder='Category name (probably "federated")' value="federated" aria-describedby="collection_configuration_help">
                    </div>
                    <div>
                        <label for="collection_subdirectory">Collection Subdirectory:</label>
                        <input type="text" id="collection_subdirectory" name="COLLECTION_SUBDIRECTORY" placeholder="Subdirectory path" aria-describedby="collection_configuration_help">
                    </div>
                    <div>
                        <label for="item_subdirectory">Item Subdirectory:</label>
                        <input type="text" id="item_subdirectory" name="ITEM_SUBDIRECTORY" placeholder="Item subdirectory path" aria-describedby="collection_configuration_help">
                    </div>
                </fieldset>


                <!-- AWS Configuration Section -->
                <fieldset class="form-section" id="aws_section">
                    <legend>AWS Configuration</legend>
                    <div class="section-text" id="aws_help">Select the S3 Source (for media) and Destination Buckets. Then select your region</div>
                    <div id="aws_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label for="aws_src_bucket">AWS Source Bucket:</label>
                        <input type="text" id="aws_src_bucket" name="AWS_SRC_BUCKET" placeholder="Source bucket name" aria-describedby="aws_help">
                    </div>
                    <div>
                        <label for="aws_dest_bucket">AWS Destination Bucket:</label>
                        <input type="text" id="aws_dest_bucket" name="AWS_DEST_BUCKET" placeholder="Destination bucket name" aria-describedby="aws_help">
                    </div>
                    <div>
                        <label id="region_label" for="region">AWS Region:</label>
                        <select
                            id="region" 
                            name="REGION"
                            placeholder="Select AWS region"
                            aria-labelledby="region_label"
                            aria-required="true"
                            aria-describedby="aws_help">
                            <option value="us-east-1" selected>us-east-1</option>
                        </select>
                    </div>
                </fieldset>


                <!-- DynamoDB Configuration Section -->
                <fieldset class="form-section" id="dynamodb_section">
                    <legend>DynamoDB Configuration</legend>
                    <div class="section-text" id="dynamodb_help">Enter the DynamoDB tables to use in your ingest</div>
                    <div id="dynamodb_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label for="dynamodb_noid_table">NOID Table:</label>
                        <input type="text" id="dynamodb_noid_table" name="DYNAMODB_NOID_TABLE" placeholder="NOID table name" aria-describedby="dynamodb_help">
                    </div>
                    <div>
                        <label for="dynamodb_file_char_table">File Characterization Table (for checksums):</label>
                        <input type="text" id="dynamodb_file_char_table" name="DYNAMODB_FILE_CHAR_TABLE" placeholder="File character table name" aria-describedby="dynamodb_help">
                    </div>
                </fieldset>

                <!-- Path Configuration Section -->
                <fieldset class="form-section" id="path_section">
                    <legend>Endpoints</legend>
                    <div class="section-text" id="path_help">Enter the URL endpoints to use in your ingest</div>
                    <div id="path_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label for="app_img_root_path">Cloudfront endpoint (app_img_root_path):</label>
                        <input type="text" id="app_img_root_path" name="APP_IMG_ROOT_PATH" placeholder="Root path for images" aria-describedby="path_help">
                    </div>
                    <div>
                        <label for="long_url_path">Site URL (long_url_path):</label>
                        <input type="text" id="long_url_path" name="LONG_URL_PATH" placeholder="Site URL" aria-describedby="path_help">
                    </div>
                    <div>
                        <label for="short_url_path">Ark link resolver (short_url_path):</label>
                        <input type="text" id="short_url_path" name="SHORT_URL_PATH" placeholder="Ark link resolver URL" aria-describedby="path_help">
                    </div>
                </fieldset>

                <!-- NOID Configuration Section -->
                <fieldset class="form-section" id="noid_section">
                    <legend>NOID Configuration</legend>
                    <div id="noid_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label for="noid_scheme">NOID Scheme:</label>
                        <input type="text" id="noid_scheme" name="NOID_SCHEME" value="ark:/" placeholder="ark:/">
                    </div>
                    <div>
                        <label for="noid_naa">NOID NAA:</label>
                        <input type="text" id="noid_naa" name="NOID_NAA" placeholder="NOID NAA identifier">
                    </div>
                </fieldset>

                <!-- Media Configuration Section -->
                <fieldset class="form-section" id="media_section">
                    <legend>Media Configuration</legend>
                    <div class="section-text" id="media_type_help">Select the media type for your collection and set options for that type</div>
                    <div id="media_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label id="media_type_label" for="media_type">Media Type:</label>
                        <select 
                            id="media_type" 
                            name="MEDIA_TYPE"
                            aria-labelledby="media_type_label"
                            aria-required="true"
                            aria-describedby="media_type_help">
                            <option value="" disabled selected>
                                Select media type for ingest
                            </option>
                            <option value="iiif">
                                IIIF: image-based digital objects using International Image Interoperability Framework standard
                            </option>
                            <option value="pdf">
                                PDF: document-based digital objects in PDF format
                            </option>
                            <option value="3d_2diiif">
                                3D_2DIIIF: digital objects that combine 3D models with associated IIIF images
                            </option>
                            <option value="3d">
                                3D: digital objects that represent 3D models
                            </option>
                        </select>
                    </div>
                    <fieldset id="3d_options" class="hidden form-section">
                        <legend>3D Options</legend>
                        <div id="3d_options_help" class="section-text">Set options for 3d media type. Supported options are rotation (x/y) and scale.</div>
                        <div class="form-section">
                            <div class="section-text">Rotation:</div>
                            <label for="3d_options_rotation_x">
                                x: <input class="short" type="number" name="3D_OPTIONS_ROTATION_X" id="3d_options_rotation_x" placeholder="Rotation X (radians)" aria-describedby="3d_options_help">
                            </label>
                            <label for="3d_options_rotation_y">
                                y: <input class="short" type="number" name="3D_OPTIONS_ROTATION_Y" id="3d_options_rotation_y" placeholder="Rotation Y (radians)" aria-describedby="3d_options_help">
                            </label>
                        </div> 

                        <div class="form-section"> 
                            <label for="3d_options_scale">
                                <span>Scale:</span> <input class="short" type="number" name="3D_OPTIONS_SCALE" id="3d_options_scale" placeholder="Scale" aria-describedby="3d_options_help">
                            </label>
                        </div>

                        <div class="3d_options_addOns form-section">
                            <div>
                                <label id="3d_options_addOns_label" for="3d_options_addOns">
                                    <div id="add_on_help" class="section-text">Select any needed Add-ons:</div>
                                    <select 
                                        id="3d_options_addOns" 
                                        name="3D_OPTIONS_ADDONS"
                                        aria-describedby="add_on_help"
                                        aria-labelledby="3d_options_addOns_label">
                                        <option value="" disabled selected>Select add-on</option>
                                        <option value="flash_card">Flash card</option>
                                    </select>
                                </label>
                            </div>
                            <div id="3d_options_flash_card_options" class="hidden form-section">
                                <div id="flash_card_help" class="section-text">Flash Card Text: The card's front text is defined as a String. The back text should refer to a metadata key. </div>
                                <label for="3d_options_flash_card_options_text_front">
                                    <span>Front (string):</span>
                                    <input type="text" id="3d_options_flash_card_options_text_front" name="3D_OPTIONS_FLASH_CARD_OPTIONS_TEXT_FRONT" placeholder="Text for flash card front" aria-describedby="flash_card_help">
                                </label>
                                <label for="3d_options_flash_card_options_text_back">
                                    <span>Back (metadata field):</span>
                                    <input type="text" id="3d_options_flash_card_options_text_back" name="3D_OPTIONS_FLASH_CARD_OPTIONS_TEXT_BACK" placeholder="Metadata field to populate back" aria-describedby="flash_card_help">
                                </label>
                            </div>
                        </div>        
                    </fieldset>
                </fieldset>
                
                <!-- Boolean Options -->
                <fieldset class="form-section" id="options_section">
                    <legend>Options</legend>
                    <div id="ingest_booleans_help" class="section-text">Set boolean options for ingest</div>
                    
                    <label for="verbose">
                        <input type="checkbox" id="verbose" name="VERBOSE" value="true" checked aria-describedby="ingest_booleans_help"> 
                        Verbose Output
                    </label>
                
                    <label for="media_ingest">
                        <input type="checkbox" id="media_ingest" name="MEDIA_INGEST" value="true" aria-describedby="ingest_booleans_help"> 
                        Media Ingest
                    </label>
                
                    <label for="metadata_ingest">
                        <input type="checkbox" id="metadata_ingest" name="METADATA_INGEST" value="true" checked aria-describedby="ingest_booleans_help"> 
                        Metadata Ingest
                    </label>
                
                    <label for="generate_thumbnails">
                        <input type="checkbox" id="generate_thumbnails" name="GENERATE_THUMBNAILS" value="true" aria-describedby="ingest_booleans_help"> 
                        Generate Thumbnails
                    </label>
                
                    <label for="dry_run">
                        <input type="checkbox" id="dry_run" name="DRY_RUN" value="true" aria-describedby="ingest_booleans_help"> 
                        Dry Run (Test Mode)
                    </label>
                
                    <label for="update_metadata">
                        <input type="checkbox" id="update_metadata" name="UPDATE_METADATA" value="true" aria-describedby="ingest_booleans_help"> 
                        Update Existing Metadata
                    </label>
                </fieldset>
                
                <fieldset class="form-section" id="metadata_section">
                    <legend>Metadata</legend>
                    <div id="metadata_help" class="section-text">Upload your metadata file (csv)</div>
                    <div id="metadata_section_status" class="section-status incomplete">Incomplete</div>
                    <div>
                        <label for="metadata_input">Metadata CSV:</label>
                        <input type="file" id="metadata_input" class="incomplete" name="metadata_input" aria-describedby="metadata_help">
                    </div>           
                
                    <!-- Progress Bar -->
                    <div id="progress_container">
                        <label for="progress-bar">Progress:</label>
                        <progress id="progress-bar" value="0" max="100" style="width: 100%;"></progress>
                        <span id="progress-text"></span>
                    </div>
                    
                    <div>
                        <button type="submit" id="ingest_button" class="disabled" disabled>Run Ingest</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}