<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTDLP Ingest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="header-bar">
        <div class="logo-title">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="App Logo" class="app-logo">
            <h1>VTDLP Ingest</h1>
        </div>
        <div class="user-info">
            <div>Hi {{user['email']}}!</div>
            <div><a href="{{url_for('logout')}}">Logout</a></div>
        </div>
    </div>
    


    <div>
        <form action="/submit" method="post" enctype="multipart/form-data">
            <input type="text" id="blah" name="blah" />
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>