{% extends "base.html" %}

{% block content %}
    <div id="content" class="tool-description" role="region" aria-label="Login and Instructions">
        {% if msg %}
            <p class="msg">{{msg}}</p>
        {% endif %}
        <p>This tool ingests media/metadata into the VTDLP Archive system.</p>
        {% if not user %}
            <div>
                <p>First, please click <a href="{{ url_for('login', _scheme='https') }}">here</a> to login. Then:</p>
            </div>
        {% endif %}
        <ol>
            <li>Ingest Collection metadata file first</li>
            <li>Ingest Item/Archive metadata file after Collection</li>
        </ol>
    </div>
{% endblock %}