<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTDLP Ingest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="header-bar">
        <div class="logo-title">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="App Logo" class="app-logo">
            <h1>VTDLP Ingest</h1>
        </div>

    </div>

    <div id="content">
        {% if msg is not None %}
            <p class="msg">{{msg}}</p>
        {% endif %}
        <p>This tool ingests media/metadata into the VTDLP Archive system.</p>
        <div>
            <p>Please <a href="{{ url_for('login', _scheme='https') }}">click here</a> to login. Then:</p>
        </div>
        <p>1. Ingest Collection metadata file first</p>
        <p>2. Ingest Archive metadata file after Collection</p>
    </div>
    
</body>
</html>