{% extends "base.html" %}

{% block content %}
    <div id="content" class="tool-description" role="region" aria-label="Login and Instructions">
        {% if msg %}
            <p class="msg">{{msg}}</p>
        {% endif %}
        <p>This tool ingests media/metadata into the VTDLP Archive system.</p>
        {% if not user %}
            <div>
                <p>Please click <a href="{{ url_for('login', _scheme='https') }}">here</a> to login.</p>
            </div>
        {% endif %}
        <ol class="instruction_list">
            <li>First, ingest the media assets (files) for your collection and it's items. For this step you should submit your archive metadata csv. <a href="https://app.gitbook.com/o/TvFOuK5Ys0OrTXXA3B6X/s/1wMf6kajAYFiqHU5KNPP/how-to-guides/ingesting-media-files-and-metadata#media-file-ingest" target="_blank">[More info]</a></li>
            <li>Next, ingest your Collection metadata. <a href="https://app.gitbook.com/o/TvFOuK5Ys0OrTXXA3B6X/s/1wMf6kajAYFiqHU5KNPP/how-to-guides/ingesting-media-files-and-metadata#collection-sub-collection-metadata-ingest" target="_blank">[More info]</a></li>
            <li>Finally, ingest your Item/Archive metadata. <a href="https://app.gitbook.com/o/TvFOuK5Ys0OrTXXA3B6X/s/1wMf6kajAYFiqHU5KNPP/how-to-guides/ingesting-media-files-and-metadata#item-archive-metadata-ingest" target="_blank">[More info]</a></li>
        </ol>
    </div>
{% endblock %}