{% extends "base.html" %}

{% block content %}
    <div id="content" role="region" aria-label="Ingest submission results">
        <h1>Processing Complete</h1>
        <p class="center">Ingest process has completed. Please review the logs below for ingest results.</p>

        <div>
            {% for mesg in get_flashed_messages() %}
                <p>{{ mesg }}</p>
            {% endfor %}
        </div>

        <div>
            {% if "EMBARGO_START_DATE" in ingest_config and ingest_config.EMBARGO_START_DATE != ""%}
                <p>Default embargo start date: {{ ingest_config.EMBARGO_START_DATE }}</p>
            {% endif %}
            {% if "EMBARGO_END_DATE" in ingest_config and ingest_config.EMBARGO_END_DATE != "" %}
                <p>Default embargo end date: {{ ingest_config.EMBARGO_END_DATE }}</p>
            {% endif %}
            {% if "VISIBILITY" in ingest_config %}
                <p>Default visibility: {{ ingest_config.VISIBILITY }}</p>
            {% endif %}

        </div>

        {% if user_is_admin %}
            <h2 class="logs">Log Output</h2>
            <div class="log_output">
                {% for line in log_lines %}
                    {{ line }}
                {% endfor %}
            </div>

            <div>
                <a href="/results/ingested.csv" download>
                    <button>Download Ingested Items ({{ ingested_count }})</button>
                </a>
            </div>
            <div>
                <a href="/results/updated.csv" download>
                    <button>Download Updated Items ({{ updated_count }})</button>
                </a>
            </div>
            <div>
                <a href="/results/summary.csv" download>
                    <button>Download Summary Sheet ({{ summary_count }})</button>
                </a>
            </div>
            <div>
                <a href="/results/errors.csv" download>
                    <button>Download Error List ({{ errors_count }})</button>
                </a>
            </div>
        {% endif %}    
    </div>
{% endblock %}